/* GENERAL STYLE */
body {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    color: black;
}

p.generalSubTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: gray;
}

p.center {
    text-align: center;
}

p.generalDescription {
    font-size: 18px;
}

.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.flexContainer > div {
    width: 250px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    /*border: 3px solid wheat;*/
    justify-content: space-between;
}

img.logo {
    width: 200px;
    height: 200px;
}

img.minilogo {
    width: 100px;
    height: 100px;
}

div.blankSpace {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: white;
}

.button {
    background-color: rgb(0, 126, 229);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

.button:hover {
    background-color: rgb(0, 115, 209);
    transform: scale(1.2);
    transition: all .25s ease-in-out;
}

.fixed {
    position: fixed;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color:rgba(0,0,0,0.2);
}
  
::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0.5);
    border-radius: 25px;
}
   
::-webkit-scrollbar-thumb {
    background-color: rgba(66, 66, 66, 0.9);
    border-radius: 25px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(55, 55, 55);
}

/* PREHOME STYLE */
div.prehomeStartTop {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url("./images/prehome/top_background.png");
    background-size: 1920px 800px;
    background-repeat: no-repeat;
}

div.prehomeSubTitleBox {
    position: absolute;
    left: 1300px;
    top: 150px;
    width: 500px;
    height: 300px;
}

p.prehomeStartTitle {
    position: absolute;
    top: 0px;
    left: 170px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(232, 232, 232);
    font-size: 80px;
}

p.prehomeStartSubTitle {
    position: absolute;
    top: 120px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(232, 232, 232);
    font-size: 40px;
}

div.generalDescription {
    margin: auto;
    width: 40%;
    padding: 10px;
}

div.prehomePreEnd {
    position: relative;
    width: 100%;
    height: 580px;
    background-image: url("./images/prehome/Digitalization.png");
    background-size: 1920px 705px;
}

div.prehomeMotivationBox {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 500px;
    height: 300px;
}

p.prehomeMotationText {
    position: absolute;
    top: 70px;
    left: 70px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 60px;
    opacity: 1;
}

/* LOGIN AND REGISTER STYLE */
div.loginBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("./images/login_page/login_background5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div.backgroundDim {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

div.loginForm {
    position: absolute;
    left: 35%;
    top: 15%;
    width: 30%;
    height: 70%;
    border: 2px solid rgb(33, 33, 33);
    background-color: rgba(66, 66, 66, 0.95);
    border-radius: 25px;
}

div.registerForm {
    position: absolute;
    left: 35%;
    top: 10%;
    width: 30%;
    height: 80%;
    border: 2px solid rgb(33, 33, 33);
    background-color: rgba(66, 66, 66, 0.95);
    border-radius: 25px;
}

div.loginTitle {
    position: relative;
    left: 0px;
    top: 8%;
    width: 100%;
    height: 20%;
}

div.loginTitle > p {
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

div.registerTitle {
    position: relative;
    left: 0px;
    top: 2%;
    width: 100%;
    height: 8%;
}

div.registerTitle > p {
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

div.registerTitle > p {
    color: white;
}

div.inputFormLogin {
    position: relative;
    left: 0px;
    top: 5%;
    width: 100%;
    height: 30%;
}

div.inputFormRegister {
    position: relative;
    left: 0px;
    top: 5%;
    width: 100%;
    height: 50%;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10%;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
    height: 50px;
    outline: none;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

input[type=text]:focus{
    background-color: rgb(249, 249, 249);
    outline: none;
    border-width: 2px;
}

input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10%;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    height: 50px;
    outline: none;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input[type=password]:focus{
    background-color: rgb(249, 249, 249);
    outline: none;
    transition: background-color, border-width 0.4s;
    border-width: 2px;
}

label {
    font-size: 20px;
    font-family: sans-serif, "Times New Roman", Times, serif;
    margin: 20px 10%;
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    font-weight: bold;
}

div.loginButtonSection {
    position: relative;
    left: 0px;
    top: 5%;
    width: 100%;
    height: 20%;
}

div.registerButtonSection {
    position: relative;
    left: 0px;
    width: 100%;
    height: 80px;
    top: 5%;
}

div.loginRedirect {
    position: relative;
    left: 0px;
    top: 5%;
    width: 100%;
    height: 15%;
    text-align: center;
}

div.registerRedirect {
    position: relative;
    left: 0px;
    top: 10%;
    width: 100%;
    height: 15%;
    text-align: center;
}

a.loginButton {
    background-color: rgb(0, 126, 229);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

div.registerButtonCenter{
    position: relative;
    left: 50%;
}

a.registerButton {
    position: relative;
    background-color: rgb(0, 126, 229);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 20px;
    font-family: sans-serif, "Times New Roman", Times, serif;
    display: inline-block;
    cursor: pointer;
    width: 240px;
    height: 80px;
    left: -120px;
    transition: all .25s ease-in-out;
}

a.registerButton:hover {
    transform: scale(1.2);
}

p.registerButtonText {
    position: relative;
    display: inline-block;
    padding: 15px;
    margin-left: 0px;
    top: -5px;
    font-size: 20px;
    font-family: sans-serif, "Times New Roman", Times, serif;
    color : white;
}

a.loginButton:hover {
    background-color: rgb(0, 115, 209);
    transition: background-color 0.4s;
}

div.loginRedirect > p > a {
    font-size: 20px;
    color: rgb(153, 153, 153);
    text-decoration: none;
}

div.loginRedirect > p > a:hover {
    color: black;
}

div.registerRedirect > p > a {
    font-size: 20px;
    color: rgb(153, 153, 153);
    text-decoration: none;
}

div.registerRedirect > p > a:hover {
    color: black;
    transform: scale(1.2);
    transition: all .25s ease-in-out;
}

div.loginRedirect > p > a:hover,
div.registerRedirect > p > a:hover {
    color: white;
}

div.loginRedirect > p > a,
div.registerRedirect > p > a {
    color: rgb(200, 200, 200);
}

.arrow {
    border: solid white;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 15px;
    margin-top: 25px;
    margin-left: -10px;
    transform: rotate(-45deg);
}

.inputFormLogin input[type=text]:focus,
.inputFormRegister input[type=text]:focus,
.inputFormLogin input[type=password]:focus,
.inputFormRegister input[type=password]:focus{
    border-width: 0px;
    background-color: rgba(249, 249, 249, 0.0);
    transition: all 0.4s;
    outline: none;
    border-bottom: 2px solid rgb(0, 115, 209);
    padding: 0px 2px;
}

.inputFormLogin input[type=text],
.inputFormRegister input[type=text],
.inputFormLogin input[type=password],
.inputFormRegister input[type=password]{
    position: relative;
    background-color: rgba(249, 249, 249, 0.0);
    color: white;
    border-bottom: 2px solid rgb(44, 44, 44);
    border-radius: 0px;
    padding: 0px 2px;
}

/* NAVIGATION MENU STYLE */

nav.navigationMenu {
    position: relative;
    box-sizing: border-box;
    width: 100%;

    background-color: rgba(22, 22, 22, 0.8);
    color: #333;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
}

nav.navigationMenu div {
    position: relative;
    width: 90%;
    left: 5%;
}

nav.navigationMenu ul {
    position: relative;

    border-bottom: 1px solid #ccc;
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0;

    /*background-color: rgba(22, 22, 22, 1);*/
    border: 0;
    display: flex;
    padding: 0 2rem;
    left: -2rem;
    width: 100%;
}

nav.navigationMenu ul li {
    background-image: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(68,140,203, 1) 50%,
      rgba(68,140,203,1) 95%,
      rgba(0,114,188,1) 95%
    );
    flex: 1 1 auto;
    background-size: 100% 200%;
    background-position: top center;
    color: #666;
    display: block;
    text-align: center;
    text-decoration: none;
}

nav.navigationMenu ul li:hover {
    background-position: bottom center;
    color: rgba(0,0,0,0.75);
    transform: scale(1.2);
    transition: all .25s ease-in-out;
}

nav.navigationMenu ul li a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    color: white;
}

nav.navigationMenu ul li a:hover {
    color: #eee;
    transition: all .25s ease-in-out;
}

/* HOME STYLE */

div.preStatistics {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 16%;
    top: 8%;
}

div.preStatistics p {
    position: relative;
    font-size: 45px;
    top: 0px;
    color: white;
}

div.statistics {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 700px;
    top: 24%;
}

div.procentExplainer {
    border: 2px solid rgb(33, 33, 33);
    background-color: rgba(66, 66, 66, 0.9);
    border-radius: 25px;
    width: 30%;
    height: 30%;
}

div.procentExplainer:hover {
    transform: scale(1.1);
    transition: all .25s ease-in-out;
}

div.procentExplainer p{
    position: relative;
    font-size: 25px;
    text-align: center;
    color: rgb(246, 246, 246);
}

div.progressBar {
	position: absolute;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    width: 100%;
    left: -3.5%;
}

div.loadedBar {
    width: 0%;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: all 1s;
    font-size : 0px;
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    box-shadow: 
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

div.procentExplainer > div {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    margin: auto;
}

div.textFrame {
    position: absolute;
    width: 100%;
    height: 10%;
}

div.textFrame > p {
    top: -80%;
}

div.pieFrame {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
}

div.pie {
    position: absolute;
    width: 100%;
    padding-top: 100%;
    border: 1px solid black;
    border-width: 1px;
    border-radius: 50%;
    background-background: conic-gradient(deeppink 20%, #fb3 0, #fb3 30%, yellowgreen 0);
}

#statistic0 {
    position: absolute;
    left: 0%;
    top: 0%;
}

#statistic1 {
    position: absolute;
    left: 35%;
    top: 0%;
}

#statistic2 {
    position: absolute;
    left: 70%;
    top: 0%;
}

#statistic3 {
    position: absolute;
    left: 0%;
    top: 35%;
}

#statistic4 {
    position: absolute;
    left: 0%;
    top: 70%;
}

#statistic5 {
    position: absolute;
    left: 35%;
    height: 65%;
    top: 35%;
}

#statistic6 {
    position: absolute;
    left: 70%;
    height: 18%;
    top: 35%;
}

#statistic7 {
    position: absolute;
    left: 70%;
    height: 18%;
    top: 58.5%;
}

#statistic8 {
    position: absolute;
    left: 70%;
    height: 18%;
    top: 82%;
}

#statistic6 p {
    font-size: 15px;
}

#statistic7 p {
    font-size: 15px;
}

#statistic8 p {
    font-size: 15px;
}

div.homeBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("./images/home/home_background3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* LINKING STYLE */

div.linkingBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("./images/linking/linking_background3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div.linkingFrame {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 70%;
    width: 80%;
    background-color: rgba(22, 22, 22, 0);
}

div.linkingFrame > div {
    position: relative;
    width: 100%;
    top: 5%;
    height: 90%;
    /*border: 3px solid wheat;*/
}

.flexContainerLinking {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.flexContainerLinking div {
    position: relative;
    width: 25%;
    margin: 10px;
    text-align: center;

    flex: 25%;
    max-width: 28%;
    padding: 0 4px;
    align-self: auto;

    border: 2px solid rgb(33, 33, 33);
    background-color: rgba(66, 66, 66, 0.95);
    border-radius: 25px;
}

.flexContainerLinking p {
    font-size: 20px;
    font-family: sans-serif, "Times New Roman", Times, serif;
    margin: 20px 10%;
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    font-weight: bold;
}

.flexContainerLinking a.button:hover {
    width: 51%;
    transform: scale(1.00);
}

.flexContainerLinking a.button {
    width: 51%;
    border-radius: 10px;
}

.flexContainerLinking label {
    color: rgb(240, 240, 240);
}

.flexContainerLinking input[type=text] {
    width: 65%;
}

.accessCode:hover{
    transform: scale(1.1);
    transition: all .25s ease-in-out;
    cursor: pointer;
}

/* SETTINGS STYLE */

div.settingsBackground {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("./images/settings/settings_background3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div.settingsFrame {
    position: absolute;
    width: 60%;
    left: 20%;
    height: 60%;
    top: 24%;

    border: 2px solid rgb(33, 33, 33);
    background-color: rgba(66, 66, 66, 0.95);
}

/* NAVIGATION SETTINGS STYLE */
div.settingsMenu {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.8);
}

div.settingsContent {
    position: absolute;
    width: 80%;
    left: 20%;
    height: 100%;
}

nav.navigationSettings {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #333;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.6em;
    border-right: 2px solid rgb(33, 33, 33);
}

nav.navigationSettings > div {
    position: relative;
    width: 90%;
    left: 5%;
    top: 1.5%;
}

nav.navigationSettings ul {
    position: relative;

    border-bottom: 1px solid #ccc;
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0;

    border: 0;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    left: -2rem;
    width: 100%;
}

nav.navigationSettings ul li {
    flex: 1 1 auto;
    background-size: 100% 200%;
    background-position: top center;
    color: #666;
    display: block;
    text-align: left;
    text-decoration: none;
    border-bottom: 2px solid rgb(33, 33, 33);
}

nav.navigationSettings ul li:hover {
    background-position: bottom center;
    color: rgba(0,0,0,0.75);
    transform: scale(1.05);
    transition: all .25s ease-in-out;
    background-image: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(68,140,203, 1) 50%,
      rgba(68,140,203, 1) 95%,
      rgba(0 ,114,188, 1) 95%
    );
}

nav.navigationSettings ul li a {
    position: relative;
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    color: white;
    left: 6%;
}

nav.navigationSettings ul li a:hover {
    color: #eee;
    transition: all .25s ease-in-out;
}

.ico {
    position: relative;
    top: -50%;
    width: 15px;
    height: 15px;
    left: -3%;
    filter: invert(100%) sepia(5%) saturate(225%) hue-rotate(136deg) brightness(111%) contrast(100%);
}

/* SETTINGS CONTENT STYLE */
div.settingsContent div.settingsTopSide {
    position: absolute;
    top: 0%;
    height: 12.3%;
    width: 94%;
    left: 3%;
    border-bottom: 2px solid rgb(44, 44, 44);
}

div.settingsContent div.settingsTopSide p {
    position: relative;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    left: 2%;
    top: -40%;
}

div.settingsContent div.settingsTopSide button {
    position: absolute;
    left: 80%;
    width: 20%;
    height: 70%;
    top: 10%;
}

div.settingsContent div.settingsTopSide button:hover {
    background-color: rgb(0, 115, 209);
    transform: scale(1.0);
    transition: all .25s ease-in-out;
}

div.settingsContent div.settingsBotSide {
    position: absolute;
    top: 12.5%;
    height: 87.5%;
    left: 4%;
    width: 92%;
    overflow-y: auto;
    overflow-x: hidden;
}

div.settingsBotSide::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 25px;
}
  
div.settingsBotSide::-webkit-scrollbar-thumb:hover {
    background-color: rgb(55, 55, 55);
}

div.settingsBotSide::-webkit-scrollbar {
    width: 10px;
    background-color:rgba(0,0,0,0.2);
}
  
div.settingsBotSide::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0.5);
    border-radius: 25px;
}

[class^="flexContainerSettings"] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

[class^="flexContainerSettings"] > div {
    position: relative;
    margin: 10px;
    text-align: left;

    flex: 45%;
    max-width: 45%;
    padding: 0 4px;
    align-self: auto;

    border-bottom: 2px solid rgb(44, 44, 44);
}

.flexContainerSettings2 div {
    flex: 90%;
    max-width: 93.5%;
    padding: 0 4px;
    align-self: auto;
}

[class^="flexContainerSettings"] label {
    position: relative;
    left: -10%;
}

[class^="flexContainerSettings"] input[type=text] {
    position: relative;
    width: 110%;
    background-color: rgba(249, 249, 249, 0.0);
    left: -15%;
    color: white;
}

.flexContainerSettings2 input[type=text] {
    left: -12.5%;
}

[class^="flexContainerSettings"] input[type=text]:focus {
    border-width: 0px;
    background-color: rgba(249, 249, 249, 0.0);
    transition: all 0.4s;
    outline: none;
}

[class^="flexContainerSettings"] input[type=password] {
    position: relative;
    width: 110%;
    background-color: rgba(249, 249, 249, 0.0);
    left: -15%;
    color: white;
}

.flexContainerSettings2 input[type=password] {
    left: -12.5%;
}

[class^="flexContainerSettings"] input[type=password]:focus {
    border-width: 0px;
    background-color: rgba(249, 249, 249, 0.0);
    transition: all 0.4s;
    outline: none;
}

[class^="flexContainerSettings"] input[type="date"] {
    position: relative;
    background: rgba(44, 44, 44, 0) 
        url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 
        92% 50% no-repeat;
    color: white;
    width: 115%;
    padding: 12px 20px;
    margin: 8px 10%;
    box-sizing: border-box;
    height: 50px;
    outline: none;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    left: -15%;
}

[class^="flexContainerSettings"] input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[class^="flexContainerSettings"] input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

[class^="flexContainerSettings"] .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    font-size: 17px;
    text-transform: none;
    font-weight: normal;
}

[class^="flexContainerSettings"] .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

[class^="flexContainerSettings"] .checkmark {
    position: absolute;
    top: -15%;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
  
[class^="flexContainerSettings"] .container:hover input ~ .checkmark {
    background-color: #ccc;
}

[class^="flexContainerSettings"] .container input:checked ~ .checkmark {
    background-color: #2196F3;
    transition: all 0.5s;
}

[class^="flexContainerSettings"] .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

[class^="flexContainerSettings"] .container input:checked ~ .checkmark:after {
    display: block;
}

[class^="flexContainerSettings"] .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.flexContainerPreference {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.flexContainerPreference div {
    position: relative;
    width: 25%;
    margin: 10px;
    text-align: center;

    flex: 25%;
    max-width: 28%;
    padding: 0 4px;
    align-self: auto;
}

.flexContainerPreference p {
    font-size: 12px;
    font-family: sans-serif, "Times New Roman", Times, serif;
    margin: 20px 10%;
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    font-weight: bold;
}

[class^="flexContainerSettings"] input[type=number] {
    position: relative;
    left: -12.5%;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 10%;
    box-sizing: border-box;
    background-color: rgba(238, 238, 238, 0.0);
    text-align: left;
    height: 50px;
    outline: none;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    border-bottom: 0px solid rgb(44, 44, 44);
}

[class^="flexContainerSettings"] input::-webkit-outer-spin-button,
[class^="flexContainerSettings"] input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[class^="flexContainerSettings"] input[type=number] {
    -moz-appearance: textfield;
}

.flexContainerPreference input[type=number] {
    position: relative;
    width: 60%;
    left: 0%;
    padding: 12px 0px;
    margin: 8px 10%;
    box-sizing: border-box;
    background-color: rgba(238, 238, 238, 0.0);
    text-align: center;
    height: 50px;
    outline: none;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    border-bottom: 2px solid rgb(44, 44, 44);
}

.flexContainerPreference input::-webkit-outer-spin-button,
.flexContainerPreference input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.flexContainerPreference input[type=number] {
    -moz-appearance: textfield;
}

/* HISTORY STYLE */

div.historyBackground {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("./images/history/history_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div.historyPanel {
    position: absolute;
    top: 15%;
    width: 70%;
    left: 15%;
    height: 80%;
    overflow: auto;
}

div.timeDivider {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%;
    left: 10%;
}

div.timeDivider > label {
    position: relative;
    color: white;
    left: -9%;
    font-size: 30px;
}

div.historyElement {
    position: relative;
    border: 2px solid rgb(33, 33, 33);
    background-color: rgba(66, 66, 66, 0.9);
    height: 50px;
    justify-content: space-between;
    line-height: 75px;
    margin: 5px;
}


div.historyElement p {
    color: white;
    position: relative;
    top: -80%;
    left: 10px;
    font-size: 25px;
}

div.elementType {
    position: absolute;
    left: 0%;
    width: 20%;
    /*border-right: 2px solid rgb(44, 44, 44);*/
    height: 100%;
    top: 0%;
}

div.elementName {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100%;
    text-align: center;
    /*border-right: 2px solid rgb(44, 44, 44);*/
}

div.elementTime {
    position: absolute;
    left: 80%;
    width: 10%;
    height: 100%;
    /*border-right: 2px solid rgb(44, 44, 44);*/
}

div.elementTime > p {
    text-align: center;
    left: 0px;
}

div.elementButtons {
    position: absolute;
    left: 90%;
    width: 10%;
    height: 100%;
    /*border-right: 2px solid rgb(44, 44, 44);*/
    text-align: right;
}

div.elementButtons a {
    position: relative;
    top: 35%;
    margin: 10px;
}

div.elementButtons .ico {
    width: 25px;
    height: 25px;
}

div.elementButtons .close {
    position: relative;
    width: 33px;
    height: 33px;
    top: -42%;
}

div.elementButtons .ico:hover {
    transform: scale(1.2);
    transition: all .25s ease-in-out;
    filter: invert(60%) sepia(73%) saturate(4779%) hue-rotate(184deg) brightness(100%) contrast(91%);
}