/* GENERAL STYLE */
body {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    color: black;
}

p.generalSubTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: gray;
}

p.center {
    text-align: center;
}

p.generalDescription {
    font-size: 18px;
}

.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.flexContainer > div {
    width: 250px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    /*border: 3px solid wheat;*/
    justify-content: space-between;
}

img.logo {
    width: 200px;
    height: 200px;
}

div.blankSpace {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: white;
}

.button {
    background-color: rgb(0, 126, 229);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

.button:hover {
    background-color: rgb(0, 115, 209);
    transition: background-color 0.4s;
}

/* PREHOME STYLE */
div.prehomeStartTop {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url("./images/prehome/top_background.png");
    background-size: 1920px 800px;
}

div.prehomeSubTitleBox {
    position: absolute;
    left: 1300px;
    top: 150px;
    width: 500px;
    height: 300px;
}

p.prehomeStartTitle {
    position: absolute;
    top: 0x;
    left: 170px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(232, 232, 232);
    font-size: 80px;
}

p.prehomeStartSubTitle {
    position: absolute;
    top: 120px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(232, 232, 232);
    font-size: 40px;
}

div.generalDescription {
    margin: auto;
    width: 40%;
    padding: 10px;
}

div.prehomePreEnd {
    position: relative;
    width: 100%;
    height: 580px;
    background-image: url("./images/prehome/Digitalization.png");
    background-size: 1920px 705px;
}

div.prehomeMotivationBox {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 500px;
    height: 300px;
}

p.prehomeMotationText {
    position: absolute;
    top: 70px;
    left: 70px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 60px;
    opacity: 1;
}

/* LOGIN PAGE */
div.loginBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url("./images/login_page/login_background2.png");
    background-size: 1920px 1080x;
}

div.backgroundDim {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

div.loginForm {
    position: absolute;
    left: 35%;
    top: 15%;
    width: 30%;
    height: 70%;
    background-color: rgb(249, 249, 249);
    border-radius: 25px;
}

div.loginTitle {
    position: relative;
    left: 0px;
    top: 8%;
    width: 100%;
    height: 20%;
}

div.loginTitle > p {
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

div.inputForm {
    position: relative;
    left: 0px;
    top: 5%;
    width: 100%;
    height: 30%;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10%;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    height: 50px;
    outline: none;
    border-width: 0px;
}

input[type=text]:focus{
    background-color: rgb(249, 249, 249);
    outline: none;
    transition: background-color, border-width 0.4s;
    border-width: 2px;
}

label {
    font-size: 20px;
    font-family: sans-serif, "Times New Roman", Times, serif;
    margin: 20px 10%;
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    font-weight: bold;
}

div.loginButtonSection {
    position: relative;
    left: 0px;
    top: 5%;
    width: 100%;
    height: 20%;
}

div.loginRedirect {
    position: relative;
    left: 0px;
    top: 5%;
    width: 100%;
    height: 15%;
    text-align: center;
}

a.loginButton {
    background-color: rgb(0, 126, 229);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

a.loginButton:hover {
    background-color: rgb(0, 115, 209);
    transition: background-color 0.4s;
}

div.loginRedirect > p > a {
    font-size: 20px;
    color: rgb(153, 153, 153);
    text-decoration: none;
}

div.loginRedirect > p > a:hover {
    color: black;
}

.arrow {
    border: solid white;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 15px;
    margin-top: 25px;
    margin-left: -10px;
    transform: rotate(-45deg);
}
